body{
    background-color: black;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color:rgb(12, 101, 26);
}

.container{
     background-color: aquamarine;
     width: 70%;
     margin:20px auto;
     padding: 20%;
}

h1,h2,h3{
    text-align: center;
    color:rgb(30, 46, 30);


}